

    <footer class="footer">
      <div class="container">

        <div class="row">
          <div class="col m7 footer-copyright">
            © 2016 SearchSmiles
          </div>
          <div class="col m5 footer-icons right-align">
            <a href="https://github.com/hkasera/searchsmiles-website"><i class="fa fa-github-alt"></i></a>
          </div>
        </div>

      </div>
    </div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
  $(".button-collapse").sideNav();
  $('select').material_select();
</script>

</body>
</html>