<!doctype html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<title>Search Smiles | Explore NGO's around the world</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<script src="https://use.fontawesome.com/35a67b324b.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class="white orange-text text-darken-4"> 
	    <div class="container nav-wrapper site-header">
	      <a href="/" class="brand-logo"><i class="fa fa-university main-icon red-text text-darken-1" aria-hidden="true"></i></a>
	    <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/explore" class="orange-text text-darken-4">Explore</a></li>
	        <li><a href="/events/upcoming" class="orange-text text-darken-4">Upcoming Events</a></li>
	        <li><a href="/dashboard" class="orange-text text-darken-4">Dashboard</a></li>
	      </ul>
	    </div>
  	</nav>
