<% include partials/header %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container center-align white-text">
      	<h1>&nbsp;</h1>
        <h1 class="display-3">Search Smiles</h1>
        <p>Explore NGO's from all around the world!</p>
        <p><a class="btn btn-info btn-lg red darken-2" href="/explore" role="button">Explore now »</a></p>
        <h1>&nbsp;</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col m12">
          <h2>About</h2>
          <p>Search Smiles is a digital platform that aggregates information about different NGO's from existing data sources to help people make an informed decision.</p>
        </div>
      </div>
    </div>
    <div class="container container-bottom">

        <div class="row promo">

          <div class="col m4">
            <p><i class="fa fa-search fa-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search</p>
            <p>
              We can easily search an NGO among thousands of NGO's across all over the country.
            </p>
          </div>

          <div class="col m4">
            <p><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Access</p>
            <p>
              The platform is available on the web and hence easily accessible across all the platforms.
            </p>
          </div>

          <div class="col m4">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Locate</p>
            <p>
              The NGO's can be easily located on the map and hence it makes it really easy to locate them.
            </p>
          </div>

        </div>

        <div class="row promo">

          <div class="col m4">
            <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Events</p>
            <p>
              We have crawled data about upcoming events and campaigns and one can easily explore that!
            </p>
          </div>

          <div class="col m4">
            <p><i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Rating</p>
            <p>
              We have also gathered data about NGO's based on how they are rated over the internet!
            </p>
          </div>

          <div class="col m4">
            <p><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Visualize</p>
            <p>
              Easily visualize the data using the dashboards integrated on the website!
            </p>
          </div>

        </div>

      </div>

      <div class="container">
        <div class="row">
          <div class="col m12">
            <h2 class="text-center">Datasources</h2>
            <p>We have extracted the data available publicly from the following resources.</p>
          </div>
        </div>
      </div>
      <div class="container container-bottom">
        <div class="row">
                
                
                <div class="col m3 clients">
                  <img alt="Charity Navigator" src="https://www.charitynavigator.org/_gfx_/promo/printable/jpegs/general_rectangle.jpg" width="200">
                </div>

                <div class="col m3 clients">
                  <img alt="Unodc" height="100" src="http://www.cimun.net/resources/UNODC_logo_E_unblue2.gif">
                </div>

                <div class="col m3 clients">
                  <img alt="Charity Watch" height="100" src="https://www.charitywatch.org/img/charity_watch_logo.png">
                </div>
                
                <div class="col m3 clients">
                  <img alt="Guide Star" src="http://5770-presscdn-21-69.pagely.netdna-cdn.com/wp-content/uploads/2014/10/GuideStar_logo_H_CMYK.png" width="200">
                </div>

              </div>
              <div class="row">
                
                   

                <div class="col m3 clients">
                  <img alt="Google Geocoding" height="100" src="https://avatars0.githubusercontent.com/u/3717923?v=3&s=400">
                </div>

                <div class="col m3 clients">
                  <img alt="Facebook" height="100" src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png">
                </div>

                <div class="col m3 clients">
                  <img alt="Twitter" height="100" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png">
                </div>

                <div class="col m3 clients">
                  <img alt="Klout" src="https://klout.com/images/developers/dev-assets/klout-logo-color-dark.png" width="200">
                </div> 
              </div>
      </div>

<% include partials/footer %>