<% include partials/header %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container center-align white-text">
      	<h1>&nbsp;</h1>
        <h1 class="display-3">Search Smiles</h1>
        <p>Explore NGO's from all around the world!</p>
        <p><a class="btn btn-info btn-lg" href="/explore" role="button">Explore now »</a></p>
        <h1>&nbsp;</h1>
      </div>
    </div>

    <div class="container container-bottom">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
      </div>

<% include partials/footer %>