<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .circle-marker {
  background-color: #fd7d08;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
  opacity: .85;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 36.2398864, lng: -113.7644643}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            //icon:"https://binwatch-ghci.rhcloud.com/img/filledbin.png",
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: '/img/marker'});
          //  {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
      {lat: 43.0745821, lng: -70.7553449},
{lat: 30.0088988, lng: -90.2735506},
{lat: 43.7262137, lng: -74.93335789999999},
{lat: 29.687773, lng: -95.544966},
{lat: 44.97348110000001, lng: -93.3510824},
{lat: 36.3348069, lng: -119.2977357},
{lat: 42.745111, lng: -87.849339},
{lat: 40.8628829, lng: -73.98240299999999},
{lat: 29.5087784, lng: -98.570151},
{lat: 39.915957, lng: -75.067026},
{lat: 42.3380815, lng: -71.2288852},
{lat: 37.3592357, lng: -93.5045671},
{lat: 37.248592, lng: -93.272171},
{lat: 36.7888314, lng: -89.9606371},
{lat: 39.6548186, lng: -77.5727681},
{lat: 39.186097, lng: -77.20027449999999},
{lat: 39.2723359, lng: -94.6643548},
{lat: 39.2723359, lng: -94.6643548},
{lat: 41.5774667, lng: -93.67753619999999},
{lat: 46.8791756, lng: -102.7896242},
{lat: 40.5569121, lng: -80.0199562},
{lat: 40.7491265, lng: -73.97713580000001},
{lat: 42.4605917, lng: -83.1346478},
{lat: 38.5580845, lng: -90.3277829},
{lat: 37.24234060000001, lng: -81.1073129},
{lat: 41.063393, lng: -73.600521},
{lat: 38.8040027, lng: -76.90663959999999},
{lat: 39.4926042, lng: -79.0306032},
{lat: 39.3363492, lng: -76.76827750000001},
{lat: 38.9939872, lng: -80.2320276},
{lat: 38.625983, lng: -90.3461943},
{lat: 36.4128966, lng: -99.40804609999999},
{lat: 36.3348069, lng: -119.2977357},
{lat: 30.45, lng: -91.17999999999999},
{lat: 36.8044003, lng: -121.7868953},
{lat: 39.8333984, lng: -80.64794789999999},
{lat: 36.4388364, lng: -118.9045445},
{lat: 40.6208979, lng: -76.797304},
{lat: 37.3763677, lng: -122.1005707},
{lat: 39.152577, lng: -94.577697},
{lat: 34.64, lng: -120.46},
{lat: 44.80118210000001, lng: -68.77781379999999},
{lat: 36.9850443, lng: -120.627702},
{lat: 37.687023, lng: -90.7403619},
{lat: 36.788708, lng: -119.876056},
{lat: 45.77, lng: -108.49},
{lat: 36.68, lng: -79.85},
{lat: 29.595671, lng: -95.6138579},
{lat: 42.370326, lng: -83.13809549999999},
{lat: 29.702465, lng: -95.53548160000001},
{lat: 37.3732396, lng: -77.4507486},
{lat: 29.6998381, lng: -95.6157097},
{lat: 39.2723359, lng: -94.6643548},
{lat: 37.3790618, lng: -122.1184612},
{lat: 36.8586404, lng: -82.78324889999999},
{lat: 37.634669, lng: -120.968187},
{lat: 37.797389, lng: -77.542001},
{lat: 36.78, lng: -121.66},
{lat: 41.8886361, lng: -87.7974954},
{lat: 30.2729209, lng: -97.74438630000002},
{lat: 40.9263957, lng: -98.3420118},
{lat: 31.79, lng: -102.17},
{lat: 36.9948743, lng: -78.22722},
{lat: 36.7035262, lng: -97.0798659},
{lat: 38.63, lng: -90.2099999},
{lat: 32.4709519, lng: -100.4059384},
{lat: 36.5963395, lng: -119.4504029},
{lat: 32.7352917, lng: -97.1048174},
{lat: 41.521107, lng: -90.57188839999999},
{lat: 32.825277, lng: -97.3211523},
{lat: 39.108222, lng: -77.58347599999999},
{lat: 32.1109743, lng: -98.5358825},
{lat: 40.4368825, lng: -79.85768279999999},
{lat: 32.1840381, lng: -96.8847194},
{lat: 37.3852183, lng: -122.1141298},
{lat: 41.590473, lng: -93.559033},
{lat: 30.09416749999999, lng: -93.7331813},
{lat: 42.880902, lng: -88.045017},
{lat: 34.264352, lng: -77.88056399999999},
{lat: 32.8152144, lng: -96.84579869999999},
{lat: 37.931068, lng: -121.2666948},
{lat: 32.007135, lng: -102.088458},
{lat: 37.838071, lng: -122.260117},
{lat: 32.724947, lng: -80.0657389},
{lat: 33.983973, lng: -99.7248158},
{lat: 36.7087176, lng: -79.92170689999999},
{lat: 36.5883771, lng: -79.4070362},
{lat: 32.8809603, lng: -97.155012},
{lat: 46.138011, lng: -93.4707923},
{lat: 32.7245602, lng: -97.41699729999999},
{lat: 47.8391273, lng: -95.8544701},
{lat: 38.937041, lng: -77.06758200000002},
{lat: 32.954132, lng: -96.75972499999999},
{lat: 43.0796933, lng: -89.3866039},
{lat: 41.120363, lng: -76.5299495},
{lat: 32.8629587, lng: -96.57591839999999},
{lat: 44.159965, lng: -92.17352699999999},
{lat: 36.6377086, lng: -114.5005038},
{lat: 33.5913874, lng: -101.8483669},
{lat: 44.9667047, lng: -93.2802383},
{lat: 32.5631924, lng: -97.1416768},
{lat: 32.2043423, lng: -95.8557567},
{lat: 46.751159, lng: -94.654935},
{lat: 37.593076, lng: -77.6612758},
{lat: 33.8991931, lng: -117.9972228},
{lat: 44.9557541, lng: -93.2993575},
{lat: 37.1320772, lng: -80.51893079999999},
{lat: 38.34836360000001, lng: -92.58157589999999},
{lat: 42.3657765, lng: -71.18473929999999},
{lat: 38.725634, lng: -77.054666},
{lat: 42.4486569, lng: -71.7900548},
{lat: 38.5824933, lng: -121.4941738},
{lat: 45.8669294, lng: -122.6247129},
{lat: 31.31943799999999, lng: -92.4672927},
{lat: 40.661447, lng: -73.844022},
{lat: 34.0348929, lng: -117.085709},
{lat: 42.5720581, lng: -70.8476708},
{lat: 38.43174, lng: -78.90083},
{lat: 39.0916586, lng: -104.872758},
{lat: 38.873718, lng: -77.2349257},
{lat: 34.170011, lng: -97.118974},
{lat: 37.839761, lng: -87.58979959999999},
{lat: 44.960883, lng: -93.37554999999999},
{lat: 34.98950130000001, lng: -99.24952449999999},
{lat: 42.4496555, lng: -73.2535451},
{lat: 38.6445859, lng: -90.605429},
{lat: 39.0633933, lng: -84.5929998},
{lat: 40.6469982, lng: -83.60965159999999},
{lat: 38.98696200000001, lng: -77.16925499999999},
{lat: 39.7260156, lng: -86.26664629999999},
{lat: 44.08943499999999, lng: -103.30125},
{lat: 32.7863301, lng: -96.79625279999999},
{lat: 42.6228539, lng: -89.37595300000001},
{lat: 38.7995469, lng: -77.222695},
{lat: 38.7627893, lng: -93.73604979999999},
{lat: 43.1467786, lng: -93.1988068},
{lat: 38.7470186, lng: -90.2526163},
{lat: 34.5084312, lng: -119.7310213},
{lat: 34.27, lng: -118.54},
{lat: 38.922607, lng: -77.2340229},
{lat: 36.7491199, lng: -119.7599761},
{lat: 38.8042047, lng: -77.0609935},
{lat: 40.8266697, lng: -81.3798095},
{lat: 36.9640616, lng: -120.0786688},
{lat: 21.3487298, lng: -158.0835221},
{lat: 39.95858399999999, lng: -82.885829},
{lat: 27.9765043, lng: -82.74280569999999},
{lat: 21.2992933, lng: -157.8411764},
{lat: 39.0872689, lng: -94.5862025},
{lat: 28.677775, lng: -81.3278455},
{lat: 21.3018519, lng: -157.84834},
{lat: 34.3729805, lng: -118.61481},
{lat: 37.64, lng: -121},
{lat: 35.7112642, lng: -78.61417089999999},
{lat: 31.674883, lng: -88.6461465},
{lat: 37.0852332, lng: -88.6320908},
{lat: 21.448279, lng: -158.191591},
{lat: 39.8208925, lng: -84.01937889999999}
       ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%API_KEY%>&callback=initMap">
    </script>
  </body>
</html>