<% include partials/header %>

<div class="container-bottom">
  
   <ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    <li class="active"><a href="/ngos/A">A</a></li>
    <li class="waves-effect"><a href="/ngos/B">B</a></li>
    <li class="waves-effect"><a href="/ngos/C">C</a></li>
    <li class="waves-effect"><a href="/ngos/D">D</a></li>
    <li class="waves-effect"><a href="#!">E</a></li>
    <li class="waves-effect"><a href="#!">F</a></li>
    <li class="waves-effect"><a href="#!">G</a></li>
    <li class="waves-effect"><a href="#!">H</a></li>
    <li class="waves-effect"><a href="#!">I</a></li>
    <li class="waves-effect"><a href="#!">J</a></li>
    <li class="waves-effect"><a href="#!">K</a></li>
    <li class="waves-effect"><a href="#!">L</a></li>
    <li class="waves-effect"><a href="#!">M</a></li>
    <li class="waves-effect"><a href="#!">N</a></li>
    <li class="waves-effect"><a href="#!">O</a></li>
    <li class="waves-effect"><a href="#!">P</a></li>
    <li class="waves-effect"><a href="#!">Q</a></li>
    <li class="waves-effect"><a href="#!">R</a></li>
    <li class="waves-effect"><a href="#!">S</a></li>
    <li class="waves-effect"><a href="#!">T</a></li>
    <li class="waves-effect"><a href="#!">U</a></li>
    <li class="waves-effect"><a href="#!">V</a></li>
    <li class="waves-effect"><a href="#!">W</a></li>
    <li class="waves-effect"><a href="#!">X</a></li>
    <li class="waves-effect"><a href="#!">Y</a></li>
    <li class="waves-effect"><a href="#!">Z</a></li>
    <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
  </ul>
      <div class="row">
      <% for(var i=0; i < ngos.length; i++) { %>
        <div class="col s12 m2">
        <a href='/ngo/<%= ngos[i]["_id"] %>'>
          <div class="card small">
            <div class="card-image">
                        <img src="http://lorempixel.com/150/150/">
            
            </div>
            <div class="card-title teal-text" style="font-size:15px;padding:10px"><%= substr(ngos[i]["_source"]["name"],40) %></div>
          </div>
        </a>
        </div>
        <% } %>
        </div>


<% include partials/footer %>